@font-face {
	font-family: 'Arkhip';
	src: url('./fonts/arkhip.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/arkhip.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/arkhip.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/arkhip.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/arkhip.ttf') format('truetype'), /* Safari, Android, iOS */
}
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap';
@import './constants/null.scss';
@import './constants/root.scss';
@import './components/Header/header.scss';
@import './components/MainPage/mainPage.scss';
@import './components/menuBurger/menuBurger.scss';
@import './components/aboutProject/about-project.scss';
@import './components/develop/develop.scss';
@import './components/feedback/feedback.scss';