@font-face {
	font-family: 'Arkhip';
	src: url('./fonts/arkhip.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/arkhip.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/arkhip.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/arkhip.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/arkhip.ttf') format('truetype'), /* Safari, Android, iOS */
}
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap';
@import './constants/null.scss';
@import './constants/root.scss';
@import './components/Header/header.scss';
@import './components/MainPage/mainPage.scss';
@import './components/Our-service/our-service.scss';
@import './components/Why/why.scss';
@import './components/Our-team/our-team.scss';
@import './components/Cases/cases.scss';
@import './components/Cases/rusalka.scss';
@import './components/Cases/crash.scss';
@import './components/Cases/raw.scss';
// @import './components/Cases/akvamarin.scss';
@import './components/Questions/questions.scss';