.loginova-detail {
    width: 100%;
    background-image: url('./components/develop/img/backgroundBlack.png'), url('./components/develop/img/backGrey.png');
    background-size: cover;
    position: relative;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__img-container {
        max-width: 33%;
        padding-top: 50px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media (min-width:240px) and (max-width:400px) {
            max-width: 80%;
        }
        @media (min-width:401px) and (max-width:844px) {
            max-width: 60%;
        }
    }

    &__text-container{
        max-width: 70%;
        & p:nth-child(1){
            padding: 50px 0 10px 0;
        }
        & p:nth-child(2){
            padding-bottom: 5px;
        }
    }

    &__text {
        @include heading('Montserrat', 24px, 140%, $color-white);
        font-weight: 400;
        text-align: center;
        span{
            font-weight: 600;
        };
        @media (min-width:240px) and (max-width:400px) {
            font-size: 14px;
        }
        @media (min-width:401px) and (max-width:600px) {
            font-size: 18px;
        }
    }

    &__svg-container {
        margin: 50px 0 100px 0;
        display: flex;
        @media (min-width:240px) and (max-width:844px) {
            margin: 25px 0 50px 0;
        }
        
    }

    &__swiper-slider {
    }
}



.slider {
    max-width: 1300px;
    min-width: 0;
    &__wrapper {
        display: flex;
        margin-bottom: 50px;
        @media (min-width:845px) and (max-width:1200px) {
            height: 500px;
        }
        img{
            display: block;
            transition: all .3s linear;
        }
    }

    &_levina{
        max-width: 1164px;
        @media (min-width:1200px) and (max-width:1400px) {
            max-width: 1034px;
        }
        @media (min-width:1000px) and (max-width:1199px) {
            max-width: 964px;
        }

    }

                                                        &__first-img-container {
                                                            margin-right: 20px;
                                                            overflow: hidden;
                                                            animation: reverseWidthFirst .3s linear forwards;
                                                            @media (min-width:1200px) and (max-width:1400px) {
                                                                animation: reverseWidthFirst1400 .3s linear forwards; 
                                                            }
                                                            @media (min-width:1000px) and (max-width:1199px) {
                                                                animation: reverseWidthFirst1200 .3s linear forwards; 
                                                            }
                                                            @media (min-width:845px) and (max-width:999px) {
                                                                animation: reverseWidthFirst1000 .3s linear forwards; 
                                                            }
                                                            
                                                            &_levina{
                                                                animation: reverseWidthFirst_levina .3s linear forwards;
                                                                @media (min-width:845px) and (max-width:999px) {
                                                                    animation: reverseWidthFirst_levina1000 .3s linear forwards; 
                                                                }
                                                            }
                                                        }

    &__video-section-container {
        display: block;
        position: relative;
        margin-right: 20px;
        width: 424px;
        height: 650px;
        transition: all .3s linear;
        @media (min-width:845px) and (max-width:1200px) {
            height: 500px;
        }

        .slider__video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__third-img-container {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 276px;
        transition: all .3s linear;
    }

    &__third-top-img-container {
        margin-bottom: 30px;
    }

    &__third-bottom-img-container {
    }

    &__feedback-button{
        margin-bottom: 100px;
        @media (min-width:240px) and (max-width:844px) {
            margin-bottom: 50px;
        }
    }

    &__svg{
        margin: 0 0 30px 40px;
    }
}

@media (min-width:1200px) and (max-width:1400px) {
    .slider {

        &__video-section-container {
            width: 350px;
        }
    
        &__third-img-container {
            width: 220px;
        }
    }
}

@media (min-width:1000px) and (max-width:1199px) {
    .slider {

        &__video-section-container {
            width: 300px;
        }
    
        &__third-img-container {
            width: 200px;
        }
    }
}

@media (min-width:845px) and (max-width:999px) {
    .slider {

        &__first-img-container {
            img{
                object-position: -110px 0;
            }
        }

        &__video-section-container {
            width: 250px;
        }
    
        &__third-img-container {
            width: 180px;
        }
    }
}

@media (min-width: 1px) and (max-width:844px) {
    .slider__wrapper {
        display: none;
    }
}


                                                                        .slider__first-img-container._animation{
                                                                            overflow: hidden;
                                                                            animation: changingWidthFirst .3s linear forwards;
                                                                            .slider__wrapper{
                                                                                transform: translate(100px 0);
                                                                            }
                                                                            @media (min-width:1200px) and (max-width:1400px) {
                                                                                animation: changingWidthFirst1400 .3s linear forwards;
                                                                            }
                                                                            @media (min-width:1000px) and (max-width:1199px) {
                                                                                animation: changingWidthFirst1200 .3s linear forwards;
                                                                            }
                                                                            @media (min-width:845px) and (max-width:999px) {
                                                                                animation: changingWidthFirst1000 .3s linear forwards;
                                                                            }
                                                                        }

.slider__first-img-container._animation.slider__first-img-container_levina{
    overflow: hidden;
    animation: changingWidthFirst_levina .3s linear forwards;
    @media (min-width:845px) and (max-width:999px) {
        animation: changingWidthFirst_levina1000 .3s linear forwards;
    }
    .slider__wrapper{
        transform: translate(100px 0);
    }
}

.slider__third-img-container._animation{
    width: 128px;
    img{
        object-position: -100px 0;
    }
}

                                                                        .slider__video-section-container._animation{
                                                                            width: 1004px;
                                                                            height: 650px;
                                                                            @media (min-width:1200px) and (max-width:1400px) {
                                                                                width: 850px;
                                                                            }
                                                                            @media (min-width:1000px) and (max-width:1199px) {
                                                                                width: 650px;
                                                                                height: 500px;
                                                                            }
                                                                            @media (min-width:845px) and (max-width:999px) {
                                                                                width: 450px;
                                                                                height: 500px;
                                                                            }
                                                                        }


@keyframes changingWidthFirst {
    0% {
        width: 572px;
    }
    100%{
        width: 128px;
    }
}

@keyframes changingWidthFirst_levina {
    0% {
        width: 424px;
    }
    100%{
        width: 128px;
    }
}

@keyframes changingWidthFirst_levina1000 {
    0% {
        width: 250px;
    }
    100%{
        width: 128px;
    }
}

@keyframes reverseWidthFirst {
    0% {
        width: 128px;
    }
    100%{
        width: 572px;
    }
}

@keyframes changingWidthFirst1400 {
    0% {
        width: 450px;
    }
    100%{
        width: 128px;
    }
}

@keyframes reverseWidthFirst1400 {
    0% {
        width: 128px;
    }
    100%{
        width: 450px;
    }
}


@keyframes changingWidthFirst1200 {
    0% {
        width: 400px;
    }
    100%{
        width: 128px;
    }
}

@keyframes reverseWidthFirst1200 {
    0% {
        width: 128px;
    }
    100%{
        width: 400px;
    }
}

@keyframes changingWidthFirst1000 {
    0% {
        width: 250px;
    }
    100%{
        width: 128px;
    }
}

@keyframes reverseWidthFirst1000 {
    0% {
        width: 128px;
    }
    100%{
        width: 250px;
    }
}

@keyframes reverseWidthFirst_levina {
    0% {
        width: 128px;
    }
    100%{
        width: 424px;
    }
}

@keyframes reverseWidthFirst_levina1000 {
    0% {
        width: 128px;
    }
    100%{
        width: 250px;
    }
}

@keyframes changingWidthThird {
    0% {
        width: 276px;
    }
    100%{
        width: 128px;
    }
}

@keyframes reverseWidthThird {
    0% {
        width: 128px;
    }
    100%{
        width: 276px;
    }
}

.youtubelightboxLoginova{
    z-index: 999;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: none;
	text-align: center;

    &::after{
        content: '';	
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        /* opacity: 0.8; */
        z-index: 10;
    }

    &__centeredchild{
        position: absolute;
        z-index: 20; /* higher z-index than overlay */
        display: inline-block;
        vertical-align: middle;
        width: 57%; /* can be any width */
        top: 59%;
        right: 0%;
        transform: translateY(-50%);
    }

    &__videowrapper{
        position: relative;
        padding-top: 25px;
        padding-bottom: 56.25%; /* 16:9 aspect ratio */
        height: 0;
    }

    &__videowrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}



