.main-page {

    background-image: url('./components/MainPage/img/mainPageBac.jpg');
    &__body {
        padding-bottom: 90px;
    }

    &__container {
        display: flex;
    }

    &__left-p {
        max-width: 1122px;
    }

    &__l-p-u {
        @include heading('Arkhip', 128px, 154px, #3446EE);
        text-align: right;
    }

    &__img-wrapper {
        position: relative;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__text {
        position: absolute;
        top: 124px;
        right: 50px;
        @include heading('Montserrat', 24px, 140%, #fff);
        max-width: 503px;
    }

    &__l-p-d {
        @include heading('Arkhip', 128px, 154px, #3446EE);
        text-align: right;
        padding-top: 10px;
    }

    &__right-p {

    }

    &__r-p-text {
        @include heading('Arkhip', 128px, 154px, #3446EE);
        writing-mode: vertical-rl;
        padding-top: 41px;
        min-height: 814px;
    }
}
