<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advertisment</title>
    <link rel="stylesheet" href="../../index.scss">
</head>
<body>
    <div class="cases-child-akva">
        <div class="cases-child-akva__body">
            <div class="cases-child-akva__container">
                <div class="cases-child-akva__up-part">
                    <div class="cases-child-akva__wrapper-up-img">
                        <img src="./img/akvamarin/up-blue.png" alt="" class="cases-child-akva__up-img">
                    </div>
                    <h2 class="cases-child-akva__h2">“Аквамарин”</h2>
                </div>

                <div class="cases-child-akva__main-box">

                    <div class="cases-child-akva__left-part">
                        <div class="cases-child-akva__img-wrapper">
                            <img src="./img/akvamarin/black-white.png" alt="" class="cases-child-akva__img-l-p">
                        </div>
                    </div>
    
                    <div class="cases-child-akva__right-part">
                        <p class="cases-child-akva__name">ПИК</p>
                        <p class="cases-child-akva__r-p-up-text">Российская девелоперская и строительная компания, крупнейший девелопер России. Штаб-квартира - в Москве. Полное наименование - публичное акционерное общество «ПИК-специализированный застройщик»</p>
                        <div class="cases-child-akva__r-p-down-p">
                            <p class="cases-child-akva__r-p-d-text">Группа Аквамарин специализируется на строительстве и реализации жилья комфорт-класса преимущественно в сегменте индустриального домостроения. С начала деятельности (1994 год) ПИК построил более 30 млн м² жилья, обеспечив квартирами более 2 млн человек. Компания осуществляет свою деятельность в 15 регионах России, с фокусом на Москву и Московскую область</p>
                            <div class="cases-child-akva__img-down-wrapper">
                                <img src="./img/akvamarin/blue.png" alt="" class="cases-child-akva__img-down">
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>