.cases-child-crush {
    background-image: url('./components/why/img/first-bc.png'), url('./components/why/img/second-bc.png');
    min-height: 100vh;
    &__body {
    }

    &__container {
        margin: 0 158px 0 100px;
    }

    &__part-up {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    &__h2 {
        @include heading('Arkhip', 128px, 154px, #FFFFFF);
        position: absolute;
        width: fit-content;
        height: fit-content;
        left: 80px;
        right: 0;
        margin: auto;
        
        & span {
            @include heading('Arkhip', 128px, 154px, #EE3434);
        }
    }

    &__text-up {
        @include heading('Montserrat', 20px, 140%, #fff);
        display: block;
        max-width: 462px;
        margin: 177px 0 0 186px;
    }

    &__up-img-wrapper {
        max-width: 521px;
        max-height: 535px;
    }

    &__up-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__part-down {
        padding-top: 50px;
    }

    &__img-down-wrapper {
        width: 100%;
        
    }

    &__img-down {
        width: 100%;
    }

    &__text-down {
        padding-top: 50px;
        @include heading('Montserrat', 20px, 140%, #fff);
        text-align: center;
        padding-bottom: 243px;
    }
}