<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advertisment</title>
    <link rel="stylesheet" href="../../index.scss">
</head>
<body>
    <div class="cases-child-crush">
        <div class="cases-child-crush__body">
            <div class="cases-child-crush__container">
                <div class="cases-child-crush__part-up">

                    <h2 class="cases-child-crush__h2">“CRU<span>SH”</span></h2>

                    <p class="cases-child-crush__text-up">Проект Crush — сервис быстрого подбора специалистов для творческих задач, создания контента и креативных проектов. Это площадка для взаимодействия заказчиков и творческих специалистов. Победитель  в номинации «MVP» конкурса HSE Startup Cup. Получили консультации с приглашёнными экспертами, за 1,5 месяца доработали проект и заявили о себе инвесторам и представителям крупных компаний.</p>

                    <div class="cases-child-crush__up-img-wrapper">
                        <img src="./img/legs.png" alt="" class="cases-child-crush__up-img">
                    </div>
                </div>

                <div class="cases-child-crush__part-down">
                    <div class="cases-child-crush__img-down-wrapper">
                        <img src="./img/crush/mihan.png" alt="" class="cases-child-crush__img-down">
                    </div>

                    <p class="cases-child-crush__text-down">Проект Crush — сервис быстрого подбора специалистов для творческих задач, создания контента и креативных проектов. Это площадка для взаимодействия заказчиков и творческих специалистов. Победитель  в номинации «MVP» конкурса HSE Startup Cup. Получили консультации с приглашёнными экспертами, за 1,5 месяца доработали проект и заявили о себе инвесторам и представителям крупных компаний.</p>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>