<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advertisment</title>
    <link rel="stylesheet" href="../../index.scss">
</head>
<body>
    <div class="cases-child-raw">
        <div class="cases-child-raw__body">
            <div class="cases-child-raw__container">
                <div class="cases-child-raw__left-part">
                    <div class="cases-child-raw__l-up">
                        <div class="cases-child-raw__img-wrapper">
                            <img src="./img/packet.png" alt="" class="cases-child-raw__img">
                        </div>
                        <p class="cases-child-raw__h2">“RAW”</p>
                    </div>

                    <p class="cases-child-raw__l-text">Образ жизни, стремящийся к исключению всех форм эксплуатации и насилия в отношении животных в качестве еды, одежды или любых других целей. Термин веганство был введён в 1944 году британским общественным деятелем Дональдом Уотсоном при учреждении им Веганского общества. Веган - человек, следующий принципам веганства. Веганы отказываются от потребления всех видов мяса, молока, яиц, мёда, а также других веществ и добавок, произведённых с использованием животных.</p>
                </div>

                <div class="cases-child-raw__right-part">
                    <p class="cases-child-raw__r-text">Связано с совокупностью аспектов, касающихся здоровья, и в качестве диеты имеет возможные преимущества и недостатки. В частности - получение организмом необходимых витаминов, минералов  и незаменимых аминокислот из растительной или лакто-ово-вегетарианской пищи.</p>

                    <div class="cases-child-raw__img-wrapper">
                        <img src="./img/raw/girl.png" alt="" class="cases-child-raw__img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>