.cases-child-rusalka {

    background-image: url('./components/why/img/first-bc.png'), url('./components/why/img/second-bc.png');
    min-height: 100vh;

    &__body {
        margin-left: 100px;
    }

    &__container {
        display: flex;
        justify-content: space-between
    }

    &__left-part {
        position: relative;
    }

    &__h2 {
        @include heading('Arkhip', 128px, 154px, #FFFFFF);
    }

    &__box-text {
        @include heading('Montserrat', 20px, 140%, #FFFFFF);
    }

    &__text-up {
        max-width: 517px;
        padding-top: 182px;
    }

    &__text-down {
        padding-top: 50px;
        max-width: 517px;
        margin-left: 100px;
    }

    &__img {
        position: absolute;
        bottom: 30px;
    }

    &__right-part {
        max-width: 582px;
    }

    &__img-rusalka-wrapper {
        height: 1472px;
        width: 582px;
    }

    &__img-rusalka {
        width: 100%;
        height: 100%;
        border-radius: 500px 0px 0px 0px;
        object-fit: cover;
        object-position: -10px 0;
    }
}
