<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advertisment</title>
    <link rel="stylesheet" href="../../index.scss">
    <!-- <link rel="stylesheet" href="./rusalka.scss"> -->
</head>
<body>
    <div class="cases-child-rusalka">
        <div class="cases-child-rusalka__body">
            <div class="cases-child-rusalka__container">
                <div class="cases-child-rusalka__left-part">
                    <h2 class="cases-child-rusalka__h2">“Русалка”</h2>
                    <div class="cases-child-rusalka__box-text">
                        <p class="cases-child-rusalka__text-up">Нельзя не согласиться с тем, что феномен успешности марки в точном соответствии целевой аудитории. Эти молодые девушки ориентируются не столько на «моду» и «стиль»    в старомодном понимании, сколько на создание «имиджа» в своей возрастной группе. Они еще не научились миксовать дорогое и дешевое        в поисках собственного образа, не носили,          а, возможно, никогда и не видели настоящей дизайнерской одежды. Эти девушки читают журнал «Yes! Звезды» и собирают постеры группы БиС. </p>
                        <p class="cases-child-rusalka__text-down">Находясь в переходном периоде, они нуждаются в укреплении чувства собственной значимости, и бесконечно благодарны за бренд, созданный  в соответствии с их ценностями,                               их предпочтениями. Налицо следование стилю эмо, то есть включение в одежду подчеркнуто детских, наивных, деталей. С другой стороны,  эта одежда бывает по-взрослому романтична     и сексуальна. Другим более взрослым и зрелым женщинам требуются образы, подчеркивающие их статус, строгость, сдержанность и тд.                  То же и у мужчин: молодым людям важно выразить себя, зрелым мужчинам нужна классика.</p>
                    </div>
                    <div class="cases-child-rusalka__img">
                        <svg width="102" height="74" viewBox="0 0 102 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.939827 35.9589C0.354042 36.5446 0.354042 37.4944 0.939827 38.0802L10.4858 47.6261C11.0716 48.2119 12.0213 48.2119 12.6071 47.6261C13.1929 47.0403 13.1929 46.0906 12.6071 45.5048L4.12181 37.0195L12.6071 28.5342C13.1929 27.9485 13.1929 26.9987 12.6071 26.4129C12.0213 25.8271 11.0716 25.8271 10.4858 26.4129L0.939827 35.9589ZM93.5332 35.5195L2.00049 35.5195L2.00049 38.5195L93.5332 38.5195L93.5332 35.5195Z" fill="white"/>
                            <path d="M41.2447 26.3909C43.5972 20.2852 47.9058 15.2195 53.4367 12.0568C58.9675 8.8942 65.3782 7.83031 71.5765 9.04647C77.7748 10.2626 83.3772 13.6836 87.4292 18.7264C91.4811 23.7693 93.7318 30.122 93.7979 36.7022C93.8639 43.2824 91.7412 49.6829 87.7913 54.8132C83.8415 59.9434 78.309 63.486 72.1364 64.8373C65.9639 66.1886 59.5332 65.2651 53.9401 62.2239C48.3471 59.1828 43.9376 54.2123 41.4632 48.1594L42.5721 47.6659C44.9372 53.4511 49.1516 58.2018 54.4973 61.1084C59.843 64.0151 65.9893 64.8978 71.8889 63.6062C77.7884 62.3147 83.0763 58.9288 86.8514 54.0254C90.6266 49.122 92.6554 43.0045 92.5923 36.7153C92.5292 30.4262 90.378 24.3544 86.5053 19.5345C82.6326 14.7147 77.2779 11.4451 71.3537 10.2827C65.4295 9.12033 59.3023 10.1372 54.0161 13.1599C48.7299 16.1827 44.6117 21.0244 42.3633 26.8601L41.2447 26.3909Z" fill="white"/>
                            </svg>                            
                    </div>
                </div>

                <div class="cases-child-rusalka__right-part">
                    <div class="cases-child-rusalka__img-rusalka-wrapper">
                        <img src="./img/rusalka.png" alt="нет картинки :(" class="cases-child-rusalka__img-rusalka">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>