.work-with-us {
    width: 100%;
    height: fit-content;
    background-image: url('./components/develop/img/backgroundBlack.png'), url('./components/develop/img/backGrey.png');
    background-size: cover;
    position: relative;
    padding-bottom: 100px;

    &__body{
        max-width: 1400px;
        margin: 0 0 0 auto;
        display: flex;
    }

    &__ul-container{

    }

    &__react-container{
        margin: 95px 0 0 140px;
    }

    &__wrapper {
        min-height: 592px;
    }

    &__title {
        @include heading(Arkhip, 64px, 44px, $color-light-blue);
        font-weight: 400;
        padding-top: 45px;
        margin-left: 137px;
    }

    &__list {
        margin: 120px 0 0 135px;
        @include heading(Montserrat, 36px, 43px, white);
        font-weight: 700;
        transition: all .3s ease;
    }

    &__item {
        margin-bottom: 30px;
        width: max-content;
        position: relative;
        z-index: 50;
        &:hover{
            transform: translate(2px, -2px);
        }
        span{
            padding: 10px;
            transition: all .3s ease;
            &:hover{
                cursor: pointer;
                color: $color-hard-red;
                border-bottom: 3px solid red;
            }
        }
    }

   
}
.react-component {
    // position: relative;

    &__dinamic-block-container {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    &__img-strata {
        // margin-right: 25px;
        // max-width: 350px
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__video-container {
        width: 100%;
        max-width: 420px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link{
        width: 100%;
        position: relative;
        display: block;
    }

    &__img-wrapper{
        max-width: 350px;
        margin-right: 25px;
    }

    &__text {
        @include heading(Montserrat, 20px, 28px, $color-white);
        font-weight: 400;
        max-width: 350px;
        text-align: center;
        padding-top: 35px;
    }

    &__btn {
        position: relative;
        top: 0;
        left: 0;
        margin: 50px 0 0 176px;
    }
    
}

.react-component._open{
    animation: visible .5s linear forwards;
}

@keyframes visible {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes invisible {
    0% {
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}