.our-team {

    &__hidden-loginova {
        transition: all .5s ease 0s;
    }
}
.hidden-loginova {
    transition: all .3s ease 0s;

    &__container {
        max-width: 80%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    &__img-container {
        img{
            display: block;
            margin-right: 150px;
        }
    }

    &__text-part {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__name {
        @include heading(Arkhip, 48px, 58px, $color-light-blue); 
        margin: 80px 0 10px 0;
    }

    &__describe {
        @include heading(Montserrat, 24px, 140%, $color-black); 
        text-align: center;
        margin-bottom: 10px;
    }

    &__subscribes {
        @include heading(Montserrat, 24px, 140%, $color-black); 
        margin-bottom: 5px;
    }

    &__networks {
        @include heading(Montserrat, 24px, 140%, $color-black); 
        margin-bottom: 30px;
    }

    &__svg-container {
        margin-bottom: 85px;
        display: flex;
    }

    &__button{
        position: absolute;
        top: 90%;
        left: -15%;
    }

    &__svg {
        position: relative;
        // padding: 10px;
    }
}

.svg {
    fill: $color-hard-red;
    margin: 15px;
    cursor: pointer;

    :nth-child(n){
        transition: all .2s ease 0s;
    }

    &__top-right-line {
        position: absolute;
        top: -5px;
        left: 5px;
        width: 27px;
        height: 3px;
        background-color: $color-hard-red;
    }

    &__right-top-line {
        position: absolute;
        top: 7px;
        left: 20px;
        width: 27px;
        height: 3px;
        background-color: $color-hard-red;
        transform: rotate(90deg);
    }

    &__bottom-left-line {
        position: absolute;
        bottom: -3px;
        right: 6px;
        width: 27px;
        height: 3px;
        background-color: $color-hard-red;
    }

    &__left-bottom-line {
        position: absolute;
        bottom: 9px;
        right: 20px;
        width: 27px;
        height: 3px;
        background-color: $color-hard-red;
        transform: rotate(90deg);
    }

    &:hover{

        svg{
            fill: $color-light-blue;
        }

        .svg__top-right-line,
        .svg__right-top-line,
        .svg__bottom-left-line,
        .svg__left-bottom-line {
            background-color: blue;
        }

        .svg__top-right-line{
            top: 32px;
        }

        .svg__right-top-line{
            transform: rotate(270deg);
            top: 20px;
        }

        .svg__bottom-left-line{
            bottom: 34px;
        }

        .svg__left-bottom-line{
            bottom: 22px;
        }
    }
}