.questions {

    &__body {
        padding-bottom: 20px;
    }

    &__container {
        max-width: 1164px;
        margin-left: 142px;
        margin-right: 10px;
        @media (min-width: 240px) and (max-width: 844px) {
            margin: 0 auto;
        }
    }

    &__h2 {
        padding: 45px 0 0 0;
        text-align: left;
        @media (min-width: 240px) and (max-width: 844px) {
            padding: 20px 0 0 0;
            text-align: center;
            font-size: 45px;
        }
        @media (min-width: 500px) and (max-width: 844px) {
            font-size: 45px;
        }
        @media (min-width: 240px) and (max-width: 499px) {
            font-size: 30px;
            line-height: normal;
        }
    }

    &__text-box {
        @include heading('Montserrat', 24px, 140%, #fff);
        max-width: 856px;
        text-align: center;
        margin: 0 auto;
        padding: 186px 0 60px 0;
        @media (min-width: 240px) and (max-width: 844px) {
            padding: 50px 0 30px 0;
            font-size: 20px;
        }
        @media (min-width: 500px) and (max-width: 844px) {
            font-size: 20px
        }
        @media (min-width: 240px) and (max-width: 499px) {
            font-size: 18px;
            padding: 25px 0 15px 0;
        }
    }

    &__box-items {
    }

    &__item {
        position: relative;
        background-image: url('./components/MainPage/img/mainPageBac.jpg');
        border: none;
        margin-bottom: 30px;
        @media (min-width: 240px) and (max-width: 844px) {
            margin: 0 15px 30px 15px;
        }
    }

    &__item-up {

        margin-left: 30px;
        padding-top: 27px;
        @media (min-width: 240px) and (max-width: 499px) {
            margin-left: 15px;
            margin-right: 20px;
        }

        & p {
            @include heading('Montserrat', 20px, 130%, #000);
            @media (min-width: 240px) and (max-width: 499px) {
                font-size: 16px;
            }
            @media (min-width: 240px) and (max-width: 260px) {
                font-size: 14px;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,.3);
            z-index: 3;
            width: 100%;
            height: 100%;
        }
    }

    &__item-ttl {
    }

    &__pluse {
        position: absolute;
        z-index: 4;
        top: 31px;
        right: 10px;
    }

    &__item-info {
        @include heading('Montserrat', 20px, 130%, #000);
        text-align: left;
        margin: 0;
        margin-left: 30px;
        @media (min-width: 240px) and (max-width: 499px) {
            font-size: 16px;
            margin-left: 15px;
        }
        @media (min-width: 240px) and (max-width: 300px) {
            font-size: 14px;
            margin-left: 5px;
            text-align: center;
        }
    }

    &__btn-detail {
        margin: 50px 0 45px auto;
        @media (min-width: 240px) and (max-width: 844px) {
            margin: 50px auto 45px auto;
        }
    }
}