.our-service {
    position: relative;
    height: 100vh;
    overflow: hidden;
    
    &__body {
        height: 100%;
        // background-color: #000;
        // z-index: -6;
        // position: relative;
    }

    &__img-fon {
        position: absolute;
        z-index: -5;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: 0px -228px;
    }

    &__img-grek {
        width: 563px;
        height: 663px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    &__h2 {
        @include heading('Arkhip', 64px, 77px, #3446EE);
        padding: 50px 0 0 130px;
    }

    &__items {
        padding-left: 130px;
        color: #ffffff;
        display: flex;
    }

    &__item-left {
        max-width: 745px;
        padding-top: 130px;
    }

    &__subtitle {
        @include heading('Arkhip', 32px, 38px, #fff);
        padding-bottom: 15px;
    }

    &__item-positions {
        padding: 0  0 50px 15px;
    }

    &__ol {
    }

    &__ol-li {
    }

    &__button {
    }

    &__item-right {
        padding: 250px 0 0 350px;
    }
}