.our-service {
    position: relative;
    overflow: hidden;
    background-image: url('./components/why/img/first-bc.png'), url('./components/why/img/second-bc.png');
    padding-bottom: 153px;
    
    &__body {
    
    }

    &__img-grek {
        background-image: url('./components/Our-service/img/grek.png');
        width: 559px;
        height: 658px;
        position: absolute;
        background-size: contain;
        bottom: -24%;
        left: 44%;
        transform: translateX(-50%);
    }

    &__img-elipse {
        background-image: url('./components/Our-service/img/elips.png');
        position: absolute;
        width: 833px;
        height: 628px;
        top: 58px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__h2 {
        @include heading('Arkhip', 64px, 77px, #3446EE);
        padding: 50px 0 0 130px;
    }

    &__items {
        padding-left: 130px;
        color: #ffffff;
        display: flex;
    }

    &__item-left {
        min-width: 745px;
        padding-top: 130px;
    }

    &__content-box-l {
        transform: translate(0, 0);
        transition: all .3s;

        &:hover {
            transform: translate(-20px, -20px);
            transition: all .5s;
        }
    }

    &__subtitle {
        @include heading('Arkhip', 32px, 38px, #fff);
        padding-bottom: 15px;
    }

    &__item-positions {
        padding: 0  0 50px 15px;
        @include heading('Montserrat', 20px, 140%, #fff);
    }

    &__ol {
        list-style: decimal;
    }

    &__item-right {
        padding: 331px 0 0 0;
        min-width: 517px;
    }

    &__content-box-r {

        transform: translate(0, 0);
        transition: all .5s;

        &:hover {
            transform: translate(20px, -20px);
            transition: all .5s;
        }
    }
}


@media (max-width: 1395px) {

    .our-service {

		&__img-grek {
            left: 39%;
		}

		&__item-left {
            min-width: 600px;
		}

		&__item-positions {
            @include heading('Montserrat', 16px, 140%, #fff);
		}

    }

}


@media (max-width: 1240px) {

    .our-service {

		&__img-grek {
            left: 39%;
		}

		&__item-left {
            min-width: 473px;
		}

		&__item-positions {
            @include heading('Montserrat', 13px, 140%, #fff);
		}

    }
    
}

@media (max-width: 1028px) {

    .our-service {

		&__img-grek {
            left: 9%;
		}

		&__item-left {
            min-width: 330px;
		}

		&__item-positions {
            @include heading('Montserrat', 11px, 140%, #fff);
		}
    }
   
}

@media (max-width: 844px) {
   
}