<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advertisment</title>
    <link rel="stylesheet" href="../../index.scss">
</head>
<body>
    <div class="our-service next">
        <div class="our-service__body">
            <div class="our-service__img-fon"></div>
            <div class="our-service__img-grek next"></div>
            <div class="our-service__img-elipse"></div>
            <h2 class="our-service__h2">Услуги для бизнеса:</h2>
            
            <div class="our-service-1__items bus">

                <div class="our-service-1__item first">
                    <p class="our-service-1__subtitle-item">1. Приводим рекламные заказы и представляем ваши интересы.</p>
                    <p class="our-service-1__text-item">Прямая рекомендация — призыв перейти по ссылке или сделать целевое действие.</p>
                    <p class="our-service-1__text-item">Обзоры — подробное описание вашего продукта или нескольких вместе с вашим, чтобы добавить нативности.</p>
                </div>

                <div class="our-service-1__item second">
                    <p class="our-service-1__subtitle-item">2. Помогаем разобраться в документах и заключить сделки.</p>
                    <p class="our-service-1__text-item">Прямая рекомендация — призыв перейти по ссылке или сделать целевое действие.</p>
                    <p class="our-service-1__text-item">Обзоры — подробное описание вашего продукта или нескольких вместе с вашим, чтобы добавить нативности.</p>
                </div>

                <div class="our-service-1__item third">
                    <p class="our-service-1__subtitle-item">3. Предоставляем личного помощника и менеджмент всех запросов.</p>
                    <p class="our-service-1__text-item">Прямая рекомендация — призыв перейти по ссылке или сделать целевое действие.</p>
                    <p class="our-service-1__text-item">Обзоры — подробное описание вашего продукта или нескольких вместе с вашим, чтобы добавить нативности.</p>
                </div>

                <div class="our-service-1__item fourth">
                    <p class="our-service-1__subtitle-item">4. Продумываем медиа-планы и снимаем контент.</p>
                    <p class="our-service-1__text-item">Прямая рекомендация — призыв перейти по ссылке или сделать целевое действие.</p>
                    <p class="our-service-1__text-item">Обзоры — подробное описание вашего продукта или нескольких вместе с вашим, чтобы добавить нативности.</p>
                </div>


            </div>
        </div>
    </div>
</body>
</html>