<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advertisment</title>
    <link rel="stylesheet" href="../../index.scss">
    <script src="./Our-service.js" defer></script>
</head>
<body>
    <div class="menu-burger">
        <div class="menu-burger__visible-elem">
            <div class="menu-burger__icon">
                <span></span>
            </div>
        </div>
        <div class="menu-burger__main-container">
            <a href="../../index.html#main-page"><img src="../menuBurger/img/logo.svg" alt="logo" class="menu-burger__logo"></a> 
            <nav class="menu-burger__navigation">
                <ul class="menu-burger__container">
                    <li class="menu-burger__item"><a href="../../index.html#main-page" ><span>Главная</span></a></li>
                    <li class="menu-burger__item"><a href="../../index.html#our-service"><span>Наши услуги</span></a></li>
                    <li class="menu-burger__item"><a href="../../index.html#why"><span>Почему мы?</span></a></li>
                    <li class="menu-burger__item"><a href="../../index.html#work-with-us"><span>Рекламодатели</span></a></li>
                    <li class="menu-burger__item"><a href="../../index.html#our-team"><span>Наша команда</span></a></li>
                    <li class="menu-burger__item"><a href="../../index.html#cases"><span>Кейсы</span></a></li>
                    <li class="menu-burger__item"><a href="../../index.html#footer"><span>Контакты</span></a></li>
                </ul>
            </nav>
            <div class="menu-burger__copyright">
                <div class="menu-burger__line"></div>
                <a href="https://vk.com/encendedor0111" target="_blank" class="menu-burger__michael-container">
                    <div class="menu-burger__img-container" data-mich-container="true">
                        <img src="../menuBurger/img/mich0.png" alt="michael" class="menu-burger__img _startMich">
                        <img src="../menuBurger/img/mich1.png" alt="michael" class="menu-burger__img hidden">
                        <img src="../menuBurger/img/mich2.png" alt="michael" class="menu-burger__img hidden">
                        <img src="../menuBurger/img/mich3.png" alt="michael" class="menu-burger__img hidden">
                        <img src="../menuBurger/img/mich4.png" alt="michael" class="menu-burger__img hidden _finishMich">
                    </div>
                    <p class="menu-burger__michael-name">Michael</p>
                </a>
                <div class="menu-burger__line"></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="our-service next">
            <div class="our-service__body">
                <div class="our-service__img-fon"></div>
                <div class="our-service__img-grek next"></div>
                <div class="our-service__img-elipse"></div>
                <h2 class="our-service__h2">Услуги для бизнеса:</h2>
                
                <div class="our-service-1__items bus">
    
                    <div class="our-service-1__item first">
                        <p class="our-service-1__subtitle-item">1. Приводим рекламные заказы и представляем ваши интересы.</p>
                        <p class="our-service-1__text-item">Прямая рекомендация — призыв перейти по ссылке или сделать целевое действие.</p>
                        <p class="our-service-1__text-item">Обзоры — подробное описание вашего продукта или нескольких вместе с вашим, чтобы добавить нативности.</p>
                    </div>
    
                    <div class="our-service-1__item second">
                        <p class="our-service-1__subtitle-item">2. Помогаем разобраться в документах и заключить сделки.</p>
                        <p class="our-service-1__text-item">Прямая рекомендация — призыв перейти по ссылке или сделать целевое действие.</p>
                        <p class="our-service-1__text-item">Обзоры — подробное описание вашего продукта или нескольких вместе с вашим, чтобы добавить нативности.</p>
                    </div>
    
                    <div class="our-service-1__item third">
                        <p class="our-service-1__subtitle-item">3. Предоставляем личного помощника и менеджмент всех запросов.</p>
                        <p class="our-service-1__text-item">Прямая рекомендация — призыв перейти по ссылке или сделать целевое действие.</p>
                        <p class="our-service-1__text-item">Обзоры — подробное описание вашего продукта или нескольких вместе с вашим, чтобы добавить нативности.</p>
                    </div>
    
                    <div class="our-service-1__item fourth">
                        <p class="our-service-1__subtitle-item">4. Продумываем медиа-планы и снимаем контент.</p>
                        <p class="our-service-1__text-item">Прямая рекомендация — призыв перейти по ссылке или сделать целевое действие.</p>
                        <p class="our-service-1__text-item">Обзоры — подробное описание вашего продукта или нескольких вместе с вашим, чтобы добавить нативности.</p>
                    </div>
    
    
                </div>
            </div>
        </div>
    </div>
</body>
</html>