.our-service { 

    &.next {
        padding-bottom: 0;
    }

    &__img-grek {

        &.next {
            transform: scale(-1, 1) translateX(-43%);
        }
    }

}

.our-service-1 {

    &__items {
        padding-top: 50px;
        padding-left: 130px;

        &.bus {
            padding-top: 225px;
            padding-bottom: 60px;
        }
    }

    &__item {
        max-width: 775px;
        padding-bottom: 50px;

        &.first {
          margin-left: 170px;  
        }

        &.third {
            margin-left: 95px;
        }
        
        &.fifth {
            margin-left: 50px;
        }
    }

    &__subtitle-item {
        @include heading('Montserrat', 20px, 140%, #fff);
        font-weight: 700;
    }

    &__text-item {
        @include heading('Montserrat', 20px, 140%, #fff);
    }

    &__arrow {
        left: 3%;
    }
}
